page-container {
  position: relative;
  min-height: 100vh;
}

content-wrap {
  padding-bottom: 2.5rem;    /* Footer height */
}

header
{
    background: white;
    width: 100%;
    height: 110px;
    padding-bottom: 10px;
    position:fixed;
    top: 0;
    left: 50%;           /* Start at 50% of browser window */
    margin-left: -325px; /* Go half of width to the left, centering the element */
}

nav {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  float:center;
  display:inline;
  text-align:center;
  left:0;
}
nav  li {
    position:relative;
    display:inline-block;
    list-style-type: none;
    font-family:"Comic Sans MS";
    color:"royalblue";
    padding:50px;
}
nav li > a {
    position: relative;
    display: inline-block;
    padding: 50px;
}

a:link{
  color:blue;
}
a:visited{
  color:blue;
}
a:hover {
  background-color:#f2f2f2;
  mix-blend-mode: hard-light;
  color: navy;
}
}
a:focus{
  color:blue;
}
a:active{
  color:blue;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;            /* Footer height */
  left: 0;
  background-color: white;
  color: black;
  text-align:left;
}

.fa-twitter {
  background: white;
}
.fa-twitter:hover {
  background-color:white;
  mix-blend-mode: hard-light;
}
